@import "tailwindcss";
@plugin "@tailwindcss/typography";

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root {
  --luxe-1: #322D29;
  --luxe-2: #72383D;
  --luxe-3: #AC9C8D;
  --luxe-4: #D1C7BD;
  --luxe-5: #D9D9D9;
  --luxe-6: #EFE9E1;
}

body {
  background-color: var(--luxe-6);
}

.prose p {
  color: var(#FFFFFF);
}

.prose pre {
  background-color: #2e2e2e;
  color: #f5f5f5;
  border-radius: 8px;
  padding: 1rem;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.4);
}

.prose code {
  background-color: #2e2e2e;
  color: #f5f5f5;
  border-radius: 4px;
}

.prose p code::before, .prose p code::after {
  content: "";
} 

.prose p code {
  padding: 0.2rem 0.4rem;
  margin-right: 0.1rem;
}

.header {
  background-color: #22333B;
}